

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background.gif");
    background-size: cover;
}



h1{
    font-weight: bold;
    color: white;
    text-align: center;
}

h2{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}

h3{
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 20px;
}


.transbox{
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.85;
}

.transbox p{
    color:black;
    text-align: justify;
    margin: 10px;
}

.transbox table{
    margin: 10 px
}


