

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background.gif");
    background-size: cover;
}



h1{
    font-weight: bold;
    color: white;
    text-align: center;
}

h2{
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 58, 51);
}

.sidebar li.left {
    float: left;
}

.sidebar li.right {
    float: right;
}

.sidebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #111;
}


.transbox{
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
}


