head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background_sortie.gif");
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 58, 51);
  }
  
  li.left {
    float: left;
  }

  li.right {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


div.transbox{
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.7;
}

div.transbox.table{
    border: 1px solid black;
    text-align: center;
    width: 90%;

}

tr{
    border-bottom: 1px solid black;
    text-align: center;
}

th{
    border-bottom: 1px solid black;
    font-weight: bold;

}