<!doctype html>

{% extends 'itineraires/base.html' %}

{% block body  %}

<h1>Itineraires</h1>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Topoguide</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'itineraires:nouvelle_sortie' %}">Ajouter une nouvelle sortie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="transbox">

    <table class = "table">
        <tr>
            <th>Nom</th>
            <th>Départ</th>
            <th>Durée estimée</th>
            <th>Difficultée estimée</th>
        </tr>

        {% if itineraires_list %}
    
            {% for itineraire in itineraires_list %}

                <tr>
                    <td><a href="{% url 'itineraires:sorties' itineraire.id %}">{{itineraire.title}}</a></td>
                    <td>{{itineraire.departure}}</td>
                    <td>{{itineraire.duration}}</td>
                    <td>{{itineraire.difficulty}}/5</td>
                </tr>

            {% endfor %}

        {% else %}
        <p>No itineraire are available.</p>
        {% endif %}
    </table>

</div>

{% endblock body  %}
