
<!doctype html>

{% extends 'itineraires/base.html' %}

{% block body  %}

<h1>Sortie {{ sortie.itineraire.title }}</h1>





<div class="sidebar">
    <ul>
        <li class="left"><a class="active"  href="{% url 'itineraires:itineraires' %}">Itinéraires</a></li>
        <li class="left"><a href="{% url 'itineraires:sorties' sortie.itineraire.id %}">Retour à la liste de sorties</a></li>
        <li class="left"><a href="{% url 'itineraires:nouvelle_sortie' %}">Ajouter une nouvelle sortie</a></li>
        <li class="right"><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>

</div>

<h2>by {{sortie.user}}</h2>

<div class="transbox">

    <table class = "table">
        <tr>
            <th></th>
            <th>Réalisé</th>
            <th>Prévu</th>

        
        <tr>
            <th>Date</th>
            <td>{{sortie.date}}</td>
            <td> / </td>
        </tr>
        
        <tr>
            <th>Durée réelle</th>
            <td>{{sortie.duration}}</td>
            <td>{{sortie.itineraire.duration}}</td>
        </tr>

        <tr>
            <th>Nombre de participants</th>
            <td>{{sortie.people}}</td>
            <td> / </td>
        </tr>

        <tr>
            <th>Niveau des randonneurs</th>
            <td>{{sortie.group_exp}}</td>
            <td> / </td>
        </tr>

        <tr>
            <th>Météo</th>
            <td>{{sortie.weather}}</td>
            <td> / </td>
        </tr>   

        <tr>
            <th>Difficultée</th>
            <td>{{sortie.difficulty}}/5</td>
            <td>{{sortie.itineraire.difficulty}}/5</td>
        </tr>
    </table>

</div>

{% endblock body  %}
