
<!doctype html>

{% extends 'itineraires/base.html' %}

{% block body %}
<h1>Sorties  {{ itineraire.title }}</h1>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Topoguide</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'itineraires:itineraires' %}">Itinéraires</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'itineraires:nouvelle_sortie' %}">Ajouter une nouvelle sortie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="transbox">
    {% if itineraire.sortie_set.all %}

        <table class = "table">
            <tr>
                <th>Par</th>
                <th>Date</th>
                <th></th>
            </tr>

                {% for sortie in itineraire.sortie_set.all %}
                    <tr>
                        <td>{{ sortie.user }}</td>
                        <td>{{ sortie.date }}</td>
                        <td><a href="{% url 'itineraires:sortie' sortie.id %}">Consulter</a></td>
                    </tr>
                {% endfor %}

        </table>

    {% else %}
        <p>Il n'y a pas de sorties pour cet itineraire.</p>
    {% endif %}
</div>
{% endblock body %}

